<% @page_title = "Admin menu" %>

<div class="menu">
	<h2>Admin Menu </h2>
	<div class="identity">Logged in as :</div>
	<ul>
		<li>some links</li>
		<li>some links</li>
		<li><%= link_to("Déconnexion", :action => 'logout') %></li>
	</ul>
</div>
