<% @page_title = "Mon compte" %>

<div class="row">
	<h2>Admin Menu</h2>
	<div class="identity"><%= current_user.username %></div>
	<ul>
		<li>some links</li>
		<li>some links</li>
	</ul>
</div>
<%= link_to("Déconnexion", :action => "logout", :class => "btn btn-default") %>
