<% @page_title = "Mon compte" %>

<div class="row">
	<h2>Admin Menu</h2>
	<div class="identity">Bienvenue, <%= current_user.username %></div>
	<ul>
		<li>Abonnement actuel: (TO DO) Abonnement Gold (lien vers abonnements)</li>
		<li>Informations de facturation, nombre d'employés gérés, etc.</li>
		<li>Nombre d'employés gérés: (TO DO) 20/50 </li>
	</ul>
</div>
<%= link_to("Déconnexion", :action => "logout", :class => "btn btn-default") %>
