<% @page_title = "Mon compte" %>

<div class="row">
	<h2>Admin Menu</h2>
	<div class="identity"><%= current_user.username %></div>
	<ul>
		<li>Abonnement -> Link to abonnements</li>
		<li>Informations de facturation, nombre d'employés gérés, etc.</li>
	</ul>
</div>
<%= link_to("Déconnexion", :action => "logout", :class => "btn btn-default") %>
