<!-- contact -->
<div class="row">
<h1><a name="contact">Contact</a></h1>
</div>
  <p>Nous sommes à votre écoute par mail ou sur twitter.</p>
  <%= image_tag "logo/logo_v2_background.png",  class: "img-responsive"%>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="lead text-info">
        <a href='http://twitter.com/cerbereapp'><i class="fa fa-4x text-info fa-fw fa-twitter-square"></i> @cerbereapp</a></br>
      <i class="fa fa-4x text-info fa-fw fa-envelope"></i> contact@cerbereapp.com
      </p>
    </div>
  </div>
