<div class="row">
    <h1>Cerbere App</h1>
</div>
<div class="row">
  <div class='col-md-6'>
    <h2>Qui est disponible?</h2>
CerbereApp vous permet de visualiser le statut de vos employés d'un coup d'oeil.
  </div>
</div>
<div  class="row">
  <%= image_tag "feature-1.png" %>
</div> 
<div class="row">
  <h2>Quels documents renouveler?</h2>
Identifiez rapidement quels sont les documents importants à renouveller.</div>
<div  class="row">
  <%= image_tag "feature-2.png" %>
</div> 
