
<!-- Pricing -->
<div class="row">
	<h1><a name="pricing">Abonnements</a></h1>
</div>

<div class="row">
	<div class='col-md-4'>
		<h3>Nos offres<small> Adaptées à votre besoin</small></h3>
		Cerbere App vous propose 2 abonnements en fonction du nombre de documents à gérer, ainsi qu'une offre d'essai limitée à 3 employés afin de tester notre solution.</br>
		<p class="text-success">Vous pouvez à tout moment faire évoluer votre type d'abonnement.</p>

	</div>
	<div class='col-md-8'>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Fonctionalités</th>
					<th class="info text-center">Essai</th>
					<th class="success text-center">Silver</th>
					<th class="success text-center">VIP</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Nombre de personnel maximum</th>
					<td class=" text-center">3</td>
					<td class=" text-center">100</td>
					<td class=" text-center">illimité</td>
				</tr>
				<tr>
					<th scope="row">Notifications par e-mail</th>
					<td class=" text-center">Non</td>
					<td class=" text-center">Non</td>
					<td class=" text-center">Oui</td>
				</tr>
				<tr>
					<th scope="row">Abonnement mensuel</th>
					<td class=" text-center">0€/mois </br>  <%= link_to "Offre d'essai", new_user_session_path, class: "btn btn-info btn-xs"%></td>
					<td class=" text-center">99€/mois </br> <%= link_to "Choisir abonnement", new_user_session_path, class: "btn btn-success btn-xs"%></td>
					<td class=" text-center">149€/mois </br> <%= link_to "Choisir abonnement", new_user_session_path, class: "btn btn-success btn-xs"%></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
